Using encoded 82-chr characters in DL URLs

I'm looking at the GS1 DL spec with respect to `ser-value` property (serial numbers) defined in section 5.5, which defines it as:

    ser-value = 1*20XCHAR ; 1-20 characters from 82-chr subset

82-chr is defined in GS1 section 7.11, and includes some characters that have special meanings in URLs such as `/`, `%`, and `&` , and not surprisingly these characters have encodings defined in GS1 DL section 5.1, however, I think the syntax given is incorrect. For example, for a forward slash:

    ForwardSlash = "%x2F" ; percent-encoding of the / character

That format is incorrect. The percent-encoding of that character is `"%2F"`; the `x` should not be present in this context because it is a literal string, not a binary value. As per [RFC 3986 § 2.1](https://tools.ietf.org/html/rfc3986#section-2.1):

> For example, "%20" is the percent-encoding for the binary octet "00100000" (ABNF: %x20), which in US-ASCII corresponds to the space character (SP)

While this is indeed in an ABNF, we are defining a literal string, and not a binary value, so the `x` format doesn't apply.

Thanks for the feedback.  I agree that we should correct this ideally before v1.2 is ratified.



Thanks again @Synchro. Happy to confirm that this error has been fixed in the URI syntax spec which will be formally published any day now.